{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Mobility4You - Panel Administrativo</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- CSS personalizado único para todo el admin -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block extrajs %}
{{ block.super }}
{% endblock %}